.outline-red {
  color: white;
  font-weight: 300;
  font-size: 20px;
  background: none;
  border: 2px solid red;
  border-radius: 37px;
  padding: 10px 30px;
  cursor: pointer;
}
.outline-red:hover,
.outline-red:active {
  background: white;
}

.outline-red:disabled {
  border: 2px solid gray;
  background: none;
  cursor: not-allowed;
}

.outline-white {
  background: none;
  color: white;
  font-weight: 300;
  font-size: 20px;
  border: 2px solid gray;
  border-radius: 37px;
  padding: 10px 30px;
  cursor: pointer;
}
.outline-white:hover,
.outline-white:active {
  border: 2px solid red;
}
