.movie-list {
  height: 200px;
  width: calc(20% - 20px);
  margin-right: 20px;
  background-color: black;
  position: relative;
}

.movie-list-image img {
  height: 68px;
  width: 100%;
  position: absolute;
  margin: 65px 0;
  transition: transform 0.8s ease;
}

.movie-list:hover,
.movie-list:active {
  cursor: pointer;
  opacity: 0.8;
}

.movie-list:last-child {
  margin-right: 0;
}

.movie-list-button-add {
  bottom: 0;
  right: 0;
  float: right;
  background: none;
  color: white;
  padding: 3px 7px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.movie-list-button-add:hover,
.movie-list-button-add:active {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

.movie-list-content {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  height: 100%;
  padding: 20px;
  color: white;
  text-align: left;
  opacity: 0;
}

.movie-list-content:hover,
.movie-list-content:active {
  opacity: 1;
}

.movie-list-content-title {
  transition: opacity 0.125s ease;
  font-size: 23px;
  font-weight: 200;
}

.movie-list-content-rate {
  font-size: 20px;
}

.movie-list-content-description {
  font-size: 15px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 840px) {
  .movie-list-content-title {
    font-size: 20px;
  }

  .movie-list-content-rate {
    font-size: 15px;
  }

  .movie-list-content-description {
    font-size: 13px;
  }
}
