.movies-list {
  top: 50vw;
  height: 275px;
  position: relative;
  padding: 0 var(--padding-side);
  margin: 45px 0;
}

.movies-list-header {
  color: white;
  font-size: 30px;
}

.movies-list-list {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  margin-top: 20px;
}
